.App {
  text-align: center;
  background-color: #415c92;
  padding: 20px;
}
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.jus-btw{
  justify-content: space-between;
}
.flex-col{
  flex-direction: column;
}
.pd-20{
  padding: 20px;
}
.mg-20{
  margin: 20px;
}
.reviewCart{
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.reviewCart input{
  margin: 10px;
}
.reviewCart textarea{
  margin: 10px;
  width: 92%;
  height: 100px;
}
.largeButton{
  margin: 10px;
  background-color: #525353;
}
i{
  margin: 10px 0 10px 350px;
  font-size: 25px;
  cursor: pointer;
}
.toolbar{
  width: 95%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  background-color: #8c8c8c;
  border-radius: 10px;
}
.text{
  text-decoration: none;
  color: black;
  margin: 10px;
}
.page{
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  padding: 20px;
  background-color: #8c8c8c;
  border-radius: 10px;
  margin: 10px;
}
.recipeBox{
  width: 400px;
  background-color: #525353;
  margin: 5px;
  border-radius: 10px;
}
.button{
  background-color: #8c8c8c;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}
.boxFood{
  width: 300px;
  height: 420px;
  border: 1px solid black;
  background-color: #c6c6c6;
}
.foodImg img{
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 20px;
}
.recipeImg img {
  width: 150px;
  height: 150px;
  margin: 5px;
  border-radius: 20px;
}
.boxFood div{
  display: flex;
  flex-direction: column;
}
.boxFood div input{
  margin: 10px;
}
.boxFood div button{
  margin: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
